<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="./styles/left.css">
</head>

<body>
    <a href="../content/home.html" target="main-frame"><p>Home</p></a>
    <a href="https://wikipedia.org" target="main-frame"><p>Wikipedia</p></a>
    <a href="../content/about.html" target="main-frame"><p>About</p></a>
</body>

</html>