<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="./styles/right.css">
</head>

<body>
    <p><a href="https://apple.com" target=_blank>Commercial 1<br><img src="./ad-1.jpg" alt=""></a></p>
    <p><a href="https://amazon.com" target=_blank>Commercial 2<br><img src="./ad-2.png" alt=""></a></p>
</body>

</html>